views/index.pug
doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title infoplasma
		link(href='//fonts.googleapis.com/css?family=Roboto:400,700,500,300,100&subset=latin,cyrillic-ext', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='infoplasma.css')
		script(src='infoplasma.js')
	body
		.index-info
			.title Расписание
			.time 10 августа, 12:44:23
		.infoplasma
			table
				include partials/tr.pug

www/index.html
<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>infoplasma</title>
	<link href='//fonts.googleapis.com/css?family=Roboto:400,700,500,300,100&subset=latin,cyrillic-ext' rel='stylesheet'
	      type='text/css'>
	<link rel="stylesheet" href="infoplasma.css">
	<link rel="stylesheet" href="swiper.min.css">

</head>
<body>
<div class="index-info">
	<div class="title">Расписание</div>
	<div class="time">10 августа, 12:44:23</div>
</div>
<div id="infoplasma">

</div>
<script src="swiper.min.js"></script>
<script src="infoplasma.js"></script>
<script src="slider.js"></script>
</body>
</html>
